# Django Service
DJANGO_SECRET_KEY=
DJANGO_HOST=
DJANGO_PORT=

# Postgres
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

# MongoDB
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGO_INITDB_DATABASE=
MONGO_HOST=
MONGO_PORT=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# UI Service
UI_PORT=