-c requirements.txt
-r requirements.in
django-stubs[compatible-mypy]~=5.2.9
djangorestframework-stubs~=3.16.6
mypy
pip-audit~=2.10
pip-tools~=7.6
pytest~=9.1
pytest-cov~=7.1
pytest-django~=4.14
ruff~=0.16.8
